%aside
  %h1 Mentorwise
%main
  - @topics.each do |topic|
    - topic_class = topic.name.downcase.gsub(' ', '-')
    %article{class: topic_class}
      %h1
        = topic.name
      - topic.guides.each do |guide|
        .guide{class: topic_class}
          .title
            = guide.title
          .tags
            = "##{guide.topics.map(&:name).join(', #')}"
